.gas-log-form {
  display: flex;
  flex-direction: column;
}

.logs {
  list-style-type: none;
}

.inputs {
  background-color: #968E9E;
  color: #000000;
}

.form-submit {
  color: #000000;
}

.log-title {
  color: #615C66;
}
