.gas-log-form {
  display: flex;
  flex-direction: column;
}

.logs {
  list-style-type: none;
}

.inputs {
  background-color: #968E9E;
  color: #FFFFFF;
}

.form-submit {
  color: #000000;
}

.log-title {
  color: #615C66;
  margin-left: 5px;
  margin-right: 40px;
}

.m5 {
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  color: #615C66;
}

// th {
//   margin-right: 15px;
//   margin-left: 15px;
// }

.title {
  width: 11%;
}
